<h1>Admin</h1>
<br />
<br />
<p>
  <%= link_to "Developers", admin_developers_path()  %>
</p>
<br />

<p>
  <%= link_to "Global Statistics", admin_statistics_path()  %>
</p>
<br />

<p>
  <%= link_to "Mongo Cluster stats", admin_mongo_path()  %>
</p>
<br />

<p>
  <%= link_to "Services", admin_services_path()  %>
</p>
<br />
<p>
  <%= link_to "Documentation", admin_documentation_index_path()  %>
</p>
<br />
<p>
  <%= link_to "Invite Requests", admin_invite_requests_path()  %>
</p>
